In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
dataset = [34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56]
df = pd.DataFrame(dataset)
df

In [24]:
df.dtypes

0    int64
dtype: object

In [ ]:
df.describe()

In [26]:
df.mean()

0    41.0
dtype: float64

In [28]:
df.median()

0    40.5
dtype: float64

In [31]:
df.mode()

    0
0  41

In [32]:
df.std()

0    5.052664
dtype: float64

In [33]:
df.var()

0    25.529412
dtype: float64

In [34]:
range = df.max()-df.min()
range

0    22
dtype: int64